.menu{
    width: 18%;
    height: fit-content;
    /*background: #f1f1f1;*/
    margin: 30px 20px 0 0;
    /*box-shadow: 0.5px 0.5px 2px #8c8b8b;*/
    border-left: 2px solid #e6e6e6;
}
.menu{
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.menu li{
    text-align: center;
    list-style: none;
    margin: 10px 15px 10px 15px;
    padding: 5px;
    color: #262525;
    background: linear-gradient(to bottom right, #f1f1f1, #ffffff);
    font-size: 20px;
    box-shadow: 0.5px 0.5px 2px #8c8b8b;
    border-collapse: inherit;
}
.menu li h4{
    margin: 0;
}

.menu li:hover{
    cursor: pointer;
    color: #dfc729;
    transition-duration: 0.5s;
    animation: for_btn infinite 0.8s linear;
}
.menu li:active {
    transition-duration: 1s;
    animation: btn_active normal 0.05s linear;
}

@keyframes for_btn {
    0%{
        box-shadow: 1px 1px 2px #646464;
        border-radius: 5px;
    }
    50%{
        box-shadow: 2px 2px 5px #262525;
        border-radius: 2px;
    }
    100%{
        box-shadow: 1px 1px 2px #646464;
        border-radius: 5px;
    }
}
@keyframes btn_active {
    0%{
        background: linear-gradient(to top left, white 20%, #888888);
    }
    50%{
        background: linear-gradient(to top left, #888888, white 40%, #888888);
    }
    100%{
        background: linear-gradient(to top left, #888888 80%, white);
    }
}

@media screen and (max-width: 375px){
    .menu{
        width: 100%;
        padding-top: 15px;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu div{
        width: 40%;
        margin: 5px;
    }
    .menu div li{
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (min-width: 376px) and (max-width: 1080px){
    .menu{
        width: 100%;
        padding-top: 15px;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu div{
        width: 150px;
        margin: 5px;
    }
    .menu div li{
        margin: 0;
        padding: 0;
        width: 100%;
    }
}